.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.backgroundImage {
  flex-grow: 1;
  background: url('../../assets/background.jpg') no-repeat center center;
  background-size: cover;
}
